<%= form_for(@mailbox) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :recipient_id, @recipient_id %>
  <%= f.hidden_field :recipient_id, :value => @recipient_id %>
  <div class="field">
    <%= f.text_area :message, placeholder: "200文字以内でメッセージを入力してください" %>
  </div>
  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>
