<%= gravatar_for @user %>
<%=  @user.name %>
<h1>フォロワー</h1>

フォロワー数:<%= @user.follower_users.count %>

<% @follower_users.each do |follower_user| %>
        <li>
          <%= gravatar_for follower_user %>
          <%= follower_user.name %>
        </li>
<% end %> 